.top{
	clear: both;
	text-align: center;
	margin: 20px;
	font-size: 20px;
	clear: both;
}
p {
	font-size: 12px;
	color: #999;
	line-height: 12px;
}

h1 {
	line-height: 60px;
}

.row{
	width: 780px;
	margin: auto;
	text-align: center;
}
hr{
	width: 740px;
}
.showbox {
	width: 260px;
	height: 260px;
	float: left;
	background: #fff;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	text-align: center;
}
.showbox img {
	width: 250px;
	border-radius: 5px;
	border: 1px solid #dde;
}
.showbox:hover {
	float: left;
	background: #4ae;
}

.showbox_hide{
	display: none;
}
.outbox{
	width: 260px;
	height: 260px;
	position: absolute;
}

.des{
	width: 250px;
	background: #000;
	height: 50px;
	position: relative;
	top: 20px;
	color: black;
}


.container {
	width: 810px;
	margin: 20px auto;

}
.btn{
	margin-right: 5px;
	background: #4ae;
	width: 100px;
	height: 30px;
	clear: both;
	border-radius: 15px;

}
.btn a {
	line-height: 10px;
	font-size: 15px;
	color: white;
	text-align: center;
	text-decoration: none;
}

