body{
	/*background: #000;*/
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
}

.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
	font-family: 'PT Sans', sans-serif;
}

p,span,a{
	font-family: 'PT Sans', sans-serif;
}
.wrap{
	max-width: 1200px;
	margin: 0 auto;
	height: auto;
}
.nav{
	height: 80px;
	background: #fff;
}

.nav .menu{
	display: block;
	/*background: #ddd;*/
	padding: 10px;
	text-align: right;
	box-sizing: border-box;
	font-size: 1em;
	color: #999;
	font-family: 'PT Sans', sans-serif;
}

.nav .menu ul{
	width: 90%;
	height: 40px;
	list-style: none;

}
.nav .menu li{
	width: 25%;
	float: left;

}

.nav .menu li a{
	color: #999;
	text-decoration: none;
}
.banner{
	background: #fff;
	/*padding: 40px 20px -20px 20px;*/
	height: auto;
	box-sizing: border-box;
}

.pomo{
	z-index: 2;
	padding: 5% 10% 10% 10%;
	box-sizing: border-box;
	background: url("../images/berlin-building.svg") no-repeat bottom -5px right 0;
	background-size: contain;
}

.pomo p{
	font-size: 3em;
	line-height: 1em;
}


.name{
	font-size: 0.5em;
	color: #999;
	white-space: nowrap;
}

.name:hover{
	cursor: pointer;
	background: #ff3535;
	color: #fff;
}

.city-name{
	font-weight: bold;
	color: #ff3535;
	font-size: 4em;
	border-bottom: 4px solid #ff3535;
}

.about{
	background: url("../images/video-bg.jpg") no-repeat;
	background-size:cover;
	position: relative;
	overflow: hidden;
}
.video-bg{
	position: absolute;
	z-index: 0;
    right: 0;
    top: 0;
	background: #000;
	height: 100%;
	width: 100%;
}
.fullbg-video{
	position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.floated{
	position: relative;
	z-index: 9;
	float: left;
}

.about-me{
	position: relative;
	float: left;
	z-index: 9;
	background: #fff;
	width: 60%;
	padding: 5% 10%;
	margin-top: 80px;
	min-height: 400px;
	box-sizing: border-box;
}

.about-me .title{
	font-size: 2em;
	line-height: 2em;
}
.about-me .text{
	font-size: 1em;
	line-height: 1.5em;
	color: #555;
	margin: 20px 0;
}

.atc-button{
	position: relative;
	float: left;
	margin-bottom: 80px;
	background: #fff;
	height: 54px;
	width: 60%;
	line-height: 54px;
	z-index: 9;
	padding-left: 10%;
	box-sizing: border-box;
}

.atc-button .more-less{
	width: 54px;
	height: 54px;
	text-align: center;
	color: #fff;
	float: right;
	background: #1C6DA9;
}
.atc-button .more-less:hover{
	cursor: pointer;
	background: #094470
}
.atc-button .title{
	/*padding-left: 10%;*/
	font-size: 0.8em;
	color:#666;
	float: left;
	display: none;
}
.atc-button .resume{
	width: 162px;
	float: right;
	text-align: center;
	color: #fff;
	height: 54px;
	padding-left: 24px;
	box-sizing: border-box;
	background: url("../images/btn-download.svg") no-repeat top 14px left 20px #439DE0;
}
.atc-button .resume:hover{
	cursor: pointer;
	background: url("../images/btn-download.svg") no-repeat top 14px left 20px #FC3535;
}

.divider{
	clear: both;
	padding-left: 10%;
	font-size: 2em;
	line-height: 2.4em;
	margin: 40px 0;
	box-sizing: border-box;
}

.works {
	padding-bottom: 40px;
}
.works .showcase{
	min-height: 300px;
	background: #d4d4d4;
}

.contact{
	border-top: 1px solid #979797;
	min-height: 450px;
	background: url("../images/contact-circle.svg") no-repeat bottom -50% right -50%;
	background-size: 60% 60%;
}
.contact .email{
	color: #ff3535;
	border-bottom: 4px solid #ff3535;
	/*width: 60%;*/
	line-height: 2em;
	margin-left: 10%;
	font-size: 2em;
}

.contact .sns{
	width: 80%;
	margin: 5% 10%;
}

.contact .sns ul{
	list-style: none;
	font-size: 18px;
	color: #999;
	height: 48px;
	padding: 0;
	line-height: 48px;
}
.contact .sns li{
	width: 33%;
	text-indent: none;
	float: left;
}

/* mobile menu animation*/
.mobile-menu{
	/*background:#0ddddd;*/
	display: none;
}
.mobile-menu-list{
	z-index: 99;
	padding: 0;
	width: 100%;
	display: none;
	box-sizing: border-box;
}

.mobile-menu-list ul{
	padding: 0;
	margin: 0;
	font-size: 2em;
	width: 100%;
	list-style: none;
	line-height: 3em;
	text-align: center;
	background: #fff;
}
.mobile-menu-list li{
	
	border-bottom: 1px solid #ddd;
}

.mobile-menu-list li:first-of-type{
	border-top: 1px solid #ddd;
}

.mobile-menu-list a{
	text-decoration: none;
	border-bottom: 1px solid #999;
	color: #999;
}


.spinner-master * {transition:all 0.3s;-webkit-transition:all 0.3s;box-sizing:border-box;}
.spinner-master {position:relative;margin:16px;height:40px;width:40px;float:right;}
.spinner-master input[type=checkbox] {display:none;}
.spinner-master label {cursor:pointer;position:absolute;z-index:99;height:100%;width:100%;top:10px;left:0;}
.spinner-master .spinner {position:absolute;height:5px;width:100%;background-color:#000;}
.spinner-master .diagonal.part-1 {position:relative;float:left;}
.spinner-master .horizontal {position:relative;float:left;margin-top:6px;}
.spinner-master .diagonal.part-2 {position:relative;float:left;margin-top:6px;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal {opacity: 0;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {transform:rotate(405deg);-webkit-transform:rotate(405deg);margin-top:10px;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {transform:rotate(-405deg);-webkit-transform:rotate(-405deg);margin-top:-16px;}



/*Animation*/

.clouds{
	position: absolute;
	top: 200px;
	left: 0;
	z-index: 1;
	width: 100%;
	/*background:#000;*/
	overflow: hidden;
	box-sizing: border-box;
}
.cloud {
	z-index: 1;
	width: 200px; height: 60px;
	background: url("../images/cloud.svg") no-repeat;

}


/*Time to animate*/
.x1 {
	left: 5%;
	-webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
	-o-animation: moveclouds 35s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	top: -80px;
	left: 10%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 100%;}
	/*50% {margin-left: 100%;}*/
	100% {margin-left: -10%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100%;}
	/*50% {margin-left: 100%;}*/
	100% {margin-left: -10%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100%;}
	/*50% {margin-left: 100%;}*/
	100% {margin-left: -10%;}
}




@media (max-width: 35.5em) {
  body{
    font-size: 14px;
  }
  .pomo{
  	padding-bottom: 100px;
  }
  .about-me{
  	width: 100%;
  }
  .atc-button{
  	width: 100%;
  }
  .atc-button .title{
  	display: none;
  }
  .mobile-menu{
  	display: block;
  }
  .nav .menu{
  	display: none;
  }
}

