@import url(https://fonts.googleapis.com/css?family=Cabin|Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
/*@import url(https://fonts.googleapis.com/css?family=PT+Sans);*/
@import url(https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css);
@import url(https://cdn.jsdelivr.net/pure/0.6.0/grids-responsive-min.css);


body{
	/*background: #000;*/
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
}

.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
	font-family: 'Cabin', sans-serif;
}

.pure-g-r{
	display: flex;
}

p,span,a{
	font-family: 'Cabin', sans-serif;
}
.wrap{
	max-width: 1140px;
	margin: 0 auto;
	height: auto;
}
.nav{
	height: 80px;
	background: #fff;
}

.nav .menu{
	display: block;
	/*background: #ddd;*/
	padding: 10px;
	text-align: right;
	box-sizing: border-box;
	font-size: 1em;
	color: #999;
	/*font-family: 'Cabin', sans-serif;*/
}

.nav .menu ul{
	width: 90%;
	height: 40px;
	list-style: none;

}
.nav .menu li{
	width: 25%;
	float: left;

}

.nav .menu li a{
	color: #999;
	text-decoration: none;
}
.banner{
	background: #fff;
	/*padding: 40px 20px -20px 20px;*/
	height: auto;
	box-sizing: border-box;
}

.pomo{
	/*position: relative;*/
	display: block;
	z-index: 2;
	padding: 10%;
	box-sizing: border-box;
	background: url("../images/berlin-building.svg") no-repeat bottom -5px right 0;
	background-size: contain;
}

.pomo p{
	font-size: 3em;
	line-height: 1em;
}


.name{
	font-size: 0.5em;
	color: #999;
	white-space: nowrap;
}

.name:hover{
	cursor: pointer;
	background: #ff3535;
	color: #fff;
}

.city-name{
	font-weight: bold;
	color: #ff3535;
	font-size: 4em;
	border-bottom: 4px solid #ff3535;
}

.about{
	background: url("../media/bg-video.jpg") no-repeat;
	background-size:cover;
	position: relative;
	overflow: hidden;
}
.video-bg{
	position: absolute;
	z-index: 0;
    right: 0;
    top: 0;
	background: #000;
	height: 100%;
	width: 100%;
}
.fullbg-video{
	position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.about-me{
	position: relative;
	float: left;
	z-index: 9;
	background: #fcfcfc;
	width: 60%;
	padding: 5% 8% 5% 10%;
	margin-top: 80px;
	min-height: 400px;
	/*border-top: 5px solid #1C6DA9;*/
	box-sizing: border-box;
}

.about-me hr{
	border: 0;
	border-top: 1px solid #ddd;
	padding: 20px;
}
.about-me .title{
	font-size: 2em;
	line-height: 2em;
}
.about-me .text p{
	font-size: 1em;
	line-height: 1.3em;
	color: rgba(0,0,0,0.7);
	margin: 20px 0 30px 0;
	font-family: 'Lato';
}
.about-me i{
	color: #ff3535;
}

.atc-button{
	position: relative;
	float: left;
	margin-bottom: 80px;
	background: #fcfcfc;
	height: 54px;
	width: 60%;
	line-height: 54px;
	z-index: 9;
	padding-left: 10%;
	box-sizing: border-box;
}

.atc-button .more-less{
	width: 54px;
	height: 54px;
	text-align: center;
	color: #fff;
	float: right;
	background: #1C6DA9;
}
.atc-button .more-less:hover{
	cursor: pointer;
	background: #094470;
}
.atc-button .title{
	/*padding-left: 10%;*/
	font-size: 0.8em;
	color:#666;
	float: left;
	display: none;
}
.resume{
	width: 30%;
	float: left;
	text-align: left;
	color: #ff3535;
	/*font-family: 'Signika';*/
	font-size: 1em;
	box-sizing: border-box;
	/*background: url("../images/btn-download.svg") no-repeat top 14px left 20px #439DE0;*/
	/*background:  #439DE0;*/

}
.resume:hover{
	cursor: pointer;
	color: #000;
	/*outline: 0;*/
	/*border-bottom: 3px solid #FFEB3B;*/
	box-shadow:inset 0px 1em 0px #b4e7f8;
}

.divider{
	clear: both;
	padding-left: 10%;
	font-size: 2em;
	line-height: 2.4em;
	margin: 40px 0;
	box-sizing: border-box;
}

.works {
	padding-bottom: 40px;
}

.contact{
	position: relative;
	border-top: 1px solid #979797;
	min-height: 500px;
}
.contact form{
	color: #ff3535;
	width: 60%;
	line-height: 2em;
	margin-left: 10%;
	font-size: 1.2em;
}

.contact .recipient-email{
	width: 100%;
	border: 0;
	line-height: 1em;
	padding: 0.5em 1em;
	box-sizing: border-box;
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
}

.contact textarea{
	box-sizing: border-box;
	width: 100%;
	border: 0;
	padding: 1em;
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
}

.contact label{
	font-style: italic;
  width: 100%;
  /*padding-top: 2em;*/
}
.contact form p {
  width: 100%;
  font-size: 0.8em;
  line-height: 1.5em;
  color: rgba(0,0,0,0.5);
}

.contact .sendmail{
	background: #ff3535;
	border: 0;
	float: right;
	padding: 0.5em 1em;
	color: #fff;
	border-radius: 5px;
}
.contact .sns{
	width: 80%;
	text-align: center;
	margin: 5% 10%;
	float: left;
}

.contact .sns ul{
	list-style: none;
	font-size: 2em;
	float: left;
	width: 50%;
	margin: 4% 25%;
	padding:0;
	/*line-height: 48px;*/
}
.contact .sns li{
	width: 33%;
	opacity: 0.5;
	text-align: center;
	text-indent: none;
	float: left;
}
.contact .sns li a{
	color:#000;
}
.contact a{
	text-decoration: none;
	color: #ff3535;
}
.contact .sns li:hover{
	opacity: 0.8;

}

.mail-message {
  width: 80%;
  margin: 10% 10%;
  padding: 10%;
  box-sizing: border-box;
  font-size: 3em;
}
.mail-message button{
  color: #ff3535;
  border: 0;
  background: #fff;
  border-bottom: 4px solid #ff3535; 
}
footer{
	text-align: center;
	height: 50px; 
	font-size: 0.8em;
	opacity: 1;
	width: 100%;
	text-shadow: 1px 1px 1px #fff;
}

footer a {
	text-decoration: none;
	color: #000;
}

footer a:hover{
	opacity: 0.8;
}

.background-circle {
	height: 300px;
	position: absolute;
	background: url("../images/contact-circle.svg") no-repeat bottom -30% right -10%;
	background-size: auto 60%;
}

/* mobile menu animation*/
.mobile-menu{
	/*background:#0ddddd;*/
	display: none;
	z-index: 99;
}
.mobile-menu-list{
	z-index: 99;
	padding: 0;
	width: 100%;
	display: none;
	box-sizing: border-box;
}

.mobile-menu-list ul{
	padding: 0;
	margin: 0;
	font-size: 2em;
	width: 100%;
	list-style: none;
	line-height: 3em;
	text-align: center;
	background: #fff;
}
.mobile-menu-list li{
	
	border-bottom: 1px solid #ddd;
}

.mobile-menu-list li:first-of-type{
	border-top: 1px solid #ddd;
}

.mobile-menu-list a{
	text-decoration: none;
	border-bottom: 1px solid #999;
	color: #999;
}


.spinner-master * {transition:all 0.3s;-webkit-transition:all 0.3s;box-sizing:border-box;}
.spinner-master {position:relative;margin:16px;height:40px;width:40px;float:right;}
.spinner-master input[type=checkbox] {display:none;}
.spinner-master label {cursor:pointer;position:absolute;z-index:99;height:100%;width:100%;top:10px;left:0;}
.spinner-master .spinner {position:absolute;height:5px;width:100%;background-color:#000;}
.spinner-master .diagonal.part-1 {position:relative;float:left;}
.spinner-master .horizontal {position:relative;float:left;margin-top:6px;}
.spinner-master .diagonal.part-2 {position:relative;float:left;margin-top:6px;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal {opacity: 0;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {transform:rotate(405deg);-webkit-transform:rotate(405deg);margin-top:10px;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {transform:rotate(-405deg);-webkit-transform:rotate(-405deg);margin-top:-16px;}


/*Alert*/


.alert {
    position: relative;
    z-index: 888;
    height: auto;
    padding: 15px;
    background: #ff3535;
    color: #fff;
    text-align: center;
    display: none;
}


/*Animation*/

.clouds{
	position: absolute;
	top: 200px;
	left: 0;
	z-index: 1;
	width: 100%;
	/*background:#000;*/
	overflow: hidden;
	box-sizing: border-box;
}
.cloud {
	z-index: 1;
	width: 200px; height: 60px;
	background: url("../images/cloud.svg") no-repeat;

}


/*Time to animate*/
.x1 {
	left: 5%;
	-webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
	-o-animation: moveclouds 35s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	top: -80px;
	left: 10%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 100%;}
	/*50% {margin-left: 100%;}*/
	100% {margin-left: -10%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100%;}
	/*50% {margin-left: 100%;}*/
	100% {margin-left: -10%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100%;}
	/*50% {margin-left: 100%;}*/
	100% {margin-left: -10%;}
}


/*showcase*/


.showcase {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 10px 1%;
  box-sizing: border-box;
  /*margin: 10px 1%;*/
  /*width: 100%;*/
  height: auto;
  color: #000000;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
}

.showcase *,
.showcase *:before,
.showcase *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.showcase:before {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  content: '';
  background-color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.showcase img {
  max-width: 100%;
  vertical-align: top;
}

.showcase figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  padding: 0 20%;
}

.showcase span{
	background: #C2B800;
	color: #fff;
	opacity: 1;
	font-size: 0.8em;
	line-height: 1.2em;
	border-radius: 1em;
	margin: 0.5em 0;
	padding: 5px 10px;
	box-sizing: border-box;
}

.showcase h3 {
  margin: 0 0 6px;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 2px;
}

.showcase p {
font-size: 1em;
  margin: 0 0 10px;
  opacity: 0.6;
}

.showcase .icons {
  width: 100%;
}

.showcase a {
  margin: 2px;
  text-decoration: none;
  display: inline-block;
}

.showcase a i {
	text-decoration: none;
  background-color: #333333;
  border-radius: 3px;
  color: #000000;
  display: block;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  width: 34px;
}

.showcase a i:before {
  color: #fff;
}

.showcase a i:hover {
  background-color: #D2B17F;
  cursor: pointer;
}

.showcase:hover:before,
.showcase.hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.showcase:hover figcaption,
.showcase.hover figcaption {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}

@media (max-width: 48em) {
  .contact form{
	  width: 80%;
  }
  .mail-message {
    font-size: 1.5em; 
  }
  .sendmail{
	  width: 100%;
	  box-sizing: border-box;
  }
}

@media (max-width: 35.5em) {
  body{
    font-size: 14px;
  }
  .mail-message {
    font-size: 1.5em;
    padding: 10%;
    margin: 30% 10%;
  }
  .pomo{
  	padding-bottom: 100px;
  }
  .about-me{
  	width: 100%;
  }
  .atc-button{
  	width: 100%;
  }
  .atc-button .title{
  	display: none;
  }
  .mobile-menu{
  	display: block;
  }

  .contact{
  	background-size: auto 40%;
  }
  .nav .menu{
  	display: none;
  }
}

